# Dependencies
node_modules
.pnpm-store

# Build
dist
.next
out
.turbo
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

# React Native / Expo
.expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android/app/build
ios/build
*.xcuserstate

# Misc
*.pem
