# Prefer hoisted node_modules for React Native / native deps in monorepo
node-linker=hoisted
# Strict peer deps - resolve manually if needed
strict-peer-dependencies=false
# Auto install peers
auto-install-peers=true
